h1 {
    color: #330f19;
    font-family: 'Suez One', serif;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
.container {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    background-image: url('./images/mapa.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.containertext {
    position: relative;
    margin: 0 auto;
    width: 1300px;
}
.historia {
    position: relative;
    background: white;
    height: 300px;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif ;
    color: black;
    border: 50px solid transparent;
    padding: 5px;
    border-image: url('./images/border.jpg') 50 round;
}
.text {
    padding: 2em;
    margin-bottom: 2em;
    font-size: 22px;
    font-family: 'Trirong', serif;
    text-align: justify;
    font-weight: bold;
}
.ubicacio {
    position:absolute;
    bottom:2px;
    right:10px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Trirong', serif;
    font-weight: bold;
}   
a {
    text-decoration: none;
}
h2 {
    font-family: 'Trirong', serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h3 {
    font-family: 'Trirong', serif;
    font-style: normal;
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
}
p{
    font-family: 'Arimo', sans-serif;
}
div {
    padding-top: 10px;
    overflow: hidden;
}
.flexcontainer {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content:center;
    padding-right:5%;
    padding-left:5%;
    column-gap: 100px;
}
.flexcontainerfill {
    width: auto;
}
.flexcontainerfill button{
    width: 200px;
    height: 100px;
    font-size: 25px;
    font-family: 'Trirong', serif;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #330f19;
    padding: 16px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bolder;
}
button:hover {
    background-color: #330f19;
    color: white;
}
button:active {
    background-color: bisque;
    box-shadow: 0 5px #330f19;
    transform: translateY(5px);
    color: black;
}
.contfill {
    position: relative;
    width: auto;
    padding: 40px;
    height: 250px;
}
.footer {
    background: #010B13;
    background-size: 100%;
    font-family: 'Arimo', sans-serif;
    color: white;
    flex-shrink: 0;
    padding: 10px;
    position:absolute;
    bottom:0;
    width:100%;
    opacity: 85%;
}
.footer p {
    text-align: center;
    font-size: 15px;
}


/*font-family: 'Arimo', sans-serif;
font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Racing Sans One', cursive;*/
